
<%- include('../partials/nav') %>
<div class=" w-1/3 mx-auto mt-20">

  <div class="block p-6 outline outline-1 outline-cyan-300 rounded-3xl shadow-xl shadow-cyan-300 bg-white max-w-md mx-auto">
    <h1 class="text-center text-xl text-cyan-600 ">Register New Company</h1>
    <hr class="mb-8 mt-2 ">
    <form action="/companies" method="post">
      <div class="">
        <div class="form-group mb-6">
          <label class="text-sm ml-1" for="name">Name</label>
          <input name="name" type="text" class="form-control
            block
            w-full
            px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            rounded
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-cyan-600 focus:outline-none" id="exampleInput123" aria-describedby="emailHelp123" placeholder="Enter name of company">
        </div>
      </div>
      <div class="form-group mb-6">
        <label class="text-sm ml-1" for="number">Phone Number</label>

        <input name="phone" type="number" class="form-control block
          w-full
          px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-300
          rounded
          transition
          ease-in-out
          m-0
          focus:text-gray-700 focus:bg-white focus:border-cyan-600 focus:outline-none" id="exampleInput125" placeholder="Enter company phone number">
      </div>
      <div class="w-3/6 mx-auto">

        <button type="submit" class="

          px-6
          py-2.5
          bg-cyan-600
          text-white
          font-medium
          text-xs
          leading-tight
          uppercase
          rounded-xl
          shadow-md
          hover:bg-green-300 hover:shadow-xl hover:outline hover:outline-green-300 hover:shadow-green-400 hover:text-gray-700
          focus:bg-cyan-700 focus:shadow-lg focus:outline-none focus:ring-0
          active:bg-cyan-800 active:shadow-lg
          transition
          duration-150
          ease-in-out">Register Company</button>
      </div>
    </form>
  </div>

</div>
